# Created by https://www.gitignore.io/api/xcode

### Xcode ###
# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/
/example/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.tps
*.DS_Store
/native_library_bak
/cef_binaries
/cef_binaries_x64
/cef_binaries_x86
cef_binaries.zip
cef_binaries_x64.zip
cef_binaries_x86.zip
native_library/win/WebViewANE/WebViewANE/README.txt
native_extension/ane/build_asdocs.bat

/release/
/cache/
/wiki/