<?xml version="1.0" encoding="utf-8"?>
<packages>
	<!--
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="native" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="native" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="native" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="native" />-->
  <package id="TuaRua.FreSharp" version="1.5.0" targetFramework="native" />
</packages>